.box3 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #cde6fd;/*背景色*/
}
.box3 p {
    margin: 0; 
    padding: 0;
}
.box5 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px rgb(189, 183, 245);
    clear:both;
}
.box5 p {
    margin: 0; 
    padding: 0;
}
body{
    background-color: #c1f1a6;
}
.header {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 0;
    z-index: 10000;
  }
  .comment {
    display: flex;
    background-color: rgb(250, 252, 220);
  }
  
  .comment:not(:last-child) {
    border-bottom: 1px solid rgb(139, 137, 137);
  }
  
  
  .body-container {
    flex: 1;
    padding: 0.5em;
  }
  .comment-tweet {
    font-size: 1em;
    padding: 0.5em 1em;
  }
  
  .scroll {
    height: 150px;
    background-color: white;
    overflow: scroll;
  }
  .left{
      width: 45%;
      float:left;
  }
  .right{
      width: 45%;
      float:right;
  }
  .clearfix:after{
	content: "";
    clear: both;
    display:block;
  }
  .textarea1{
      font-size:150%;
      width:100%;
  }
  .textarea2{
    font-size:120%;
    width:100%;
    height:100%;
}